
body{
    background-color: #f6f5f7;
}
*{
    text-align: center;
}
.container{
    margin: auto;
    margin-top: 10%;
    width: 50pc;
    height: 62vh;
    box-shadow: 6px 10px 14px grey;
    border-radius: 3%;
}
.signIn, .intro{
    float: left;
}
.signIn{
    width: 25pc;
    height: 62vh;
    background-color: white;
    border-top-left-radius: 3%;
    border-bottom-left-radius: 3%;
}
.signIn h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 18%;
    font-weight: bold;
}
.signIn p{
    color: rgb(37, 36, 36);
    margin-bottom: -1pc;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signIn input{
    background-color:  #eee;
    border-color: transparent;
    text-align: left;
    margin-top: 1.5pc;
    margin-left: 0;
    width: 18pc;
    height: 2pc;

}
.signIn a{
    text-decoration: none;
    color: rgb(37, 36, 36);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.signIn button{
    color: black;
    background-color: #FF4B2B;
    width: 9pc;
    height: 2.7pc;
    border: 1px solid #FF4B2B;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    margin-top: 14px;
}
.intro{
    width: 25pc;
    height: 62vh;
    background-color: lightgray;
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    border-top-right-radius: 3%;
    border-bottom-right-radius: 3%;
}
.intro h1{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 9pc;
}
.intro p{
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 1.5pc;
    margin-right: 1.5pc;
}
.intro button{
    color: black;
	background: linear-gradient(to right, #FF4B2B, #FF416C);
    width: 9pc;
    height: 2.7pc;
    border: 1.5px solid white;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    margin-top: 14px;
}